/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


* {
  background-color: black;
  color: white;
}

/* ABOUT COMPONENT */

/* .container {
  display: flex;
  align-items: center;
} */

.myPic {
  width: 20%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* header */
#about {
  text-align: center;
  font-size: 40px;
  color: white;
}

.myInfo {
  margin: 50px;
  color: white;
}

/* ABOUT COMPONENT END */




/* CONTACT COMPONENT */

/* text */
#contact-form {
  margin: 0 0 0 50px ;
  color: white;
}

/* button */
#sub-btn {
  background-color: white;
}

/* header */
#contact {
  text-align: center;
  font-size: 40px;
  color: white;
}

textarea, input {
  background-color: white;
  width: 500px;
}

/* CONTACT COMPONENT END */



/* FOOTER COMPONENT */

.footer {
 
}

/* FOOTER COMPONENT END */



/* HEADER COMPONENT */

.name-header {
  color: white;
  font-size: 40px;
  
  
}

.navigation {
  color: white;
  
}

.pages-tab {
  
}

/* HEADER COMPONENT END */






/* PORTFOLIO COMPONENT */

.port-header {
  color: white;
  font-size: 40px;
  text-align: center;
}

/* PORTFOLIO COMPONENT END */



