/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



/* WHOLE PAGE */

* {
  background-color: #303036;
  /* color: #fffaff; */
  color: white;
  font-family: 'Courier New', Courier, monospace;
  /* color: #31D077; */
}


/* ALL SUB HEADERS */

.port-header, #contact, .res-header, #about {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;

}


/* ABOUT COMPONENT */

.myPic {
  width: 20%; 
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  border-radius: 25px;
  margin-left: 40px;
}

.myInfo {
  margin: 50px;
  background-color: #212225;
  
}

.outer {
  border: solid;
  border-color: #212225;
  padding: 10px 10px 0 10px;
  background-color: #212225;
  margin-right: 50px;

  /* #3F4147 */
  /* #40434e */
}

/* ABOUT COMPONENT END */




/* PORTFOLIO COMPONENT */

.github-link :hover {
  color: #31D077;
}

.app-link :hover {
  color: #31D077;
}

.projectPic {
  height: 200px;
  width: 300px;
  margin-top: 20px;
}

.container1 {
 /* float: left; */
}

/* PORTFOLIO COMPONENT END */




/* CONTACT COMPONENT */

/* text */
.contact-p {
  text-align: center;
}

#contact-form {
  margin: 80px 0 0 50px ;
}

/* button */
#sub-btn {
  background-color: white;
  color: black;
}

textarea, input {
  background-color: white;
  color: black;
  width: 500px;
  font-size: 15px;
}

/* CONTACT COMPONENT END */




/* RESUME COMPONENT */

.res-subhead, .res-list {
  margin-left: 200px;
}

/* RESUME COMPONENT END */




/* HEADER COMPONENT */

/* main title and nav */
.container {
  display: flex;
  align-items: center;
}

/* main title (my name) */
.name-header {
  font-size: 25px; 
  margin-left: 50px;
  font-weight: lighter;
}

.masters-header {
  color: #31D077;
  font-weight: lighter;
}

/* nav tabs */
.pages-tab {
 margin-left: 380px;
 display: flex;
}

/* nav tabs divs */
.nav-tab {
  font-size: 15px;
  width: 100px;
  white-space: nowrap; 
  /* padding: 10px; */
  /* background-color: #212225; */
  /* border-radius: 20px; */
}

.nav-tab :hover {
  color: #31D077;
}

.nav-tab1, .nav-tab2, .nav-tab3, .nav-tab4 {
  margin-right: 5px;
}

.nav .nav-tab {
  color: #31D077
}

/* HEADER COMPONENT END */




/* FOOTER COMPONENT */

.footer {
  text-align: center;
  margin: 100px 0 0 540px;
}

.phone1, .mail1, .linkedin1, .github1 {
  float: left;
  margin-right: 10px;
}

/* FOOTER COMPONENT END */


















